/*
* ファーストビュー
*/
/* 背景 */
.first-view-flex {
    width: 100vw;
    height: 663px;
    background-color: #400DD1;
}

/* 親側 */
.first-view {
background-color: rgb(0, 0, 0);
width: 840px;
height: 663px;
top: 0%;
left: 50%;
transform: translateX(-50%);
background-color: #400DD1;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
position: relative;
padding: 20px 40px;
}

/* 子要素_パソコンの画像 */
.first-view .pc {
font-size: 14px;
width: 500px;
height: auto;
top: 289px;
left: 325px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
}

/* 子要素_頭を抱える女の子の画像 */
.atamakakaeru{
    width: 150px;
    height: 150px;
    top: 53px;
    left: 313px;
    position: absolute;
    background-image: url("../img/first_view_atamakakaeru.png");
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    opacity: 0.3;
    z-index: 10 !important;
}

/* 子要素_テキスト１ */
.first-view .primary-text{
    color:#fff;
    z-index: 99 !important;
    position: absolute;
    letter-spacing: 0.05em;
    line-height: 1.5;
}

/* 子要素_テキスト２ */
.first-view .secondary-text{
    padding: 10px 0 6px 0 ;
    margin: 0;
    font-size: large;
    letter-spacing: 0.05em;
    position: absolute;
    top: 205px;
}

/* 子要素_ボタン一色 */
.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  width: 113px;
  position: absolute;
  top: 260px;
}

.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background-image: radial-gradient(closest-corner, rgba(150, 167, 241, 1) 10%, rgba(115, 248, 246, 1));
  opacity: 0.75;
  width: 113px;
}

a.btn--radius {
   border-radius: 100vh;
}


/*
* section_EmployeeSearchとは？
*/
/* 親要素 */
.title {
    position: relative;
    width: 800px;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    border-radius:16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    margin-top: 150px;
}

/* 親要素 */
.two-column{
    display:flex;
    width: 100vw;
    padding:10px;
    align-items: center;
    justify-content: center;
  }

  /* 子要素 */
  .box-item{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 474px;
    height: 300px;
    padding:15px 40px;
    font-size: 16px;
  }

/* 子要素 */
.yubiwosasu {
    width: 157px;
    height: 150px;
    background-image: url("../img/yubiwosasu.png");
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
}



/*
* section_具体的な使い方
*/
/* 親要素 */
.bg-gray-vertical {
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.546);
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}

/* 子要素_悩む人の画像 */
.map-question{
    width: 600px;
    height: 350px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/top-map-question.png");
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    padding-top: 10px;
}

/*
* section_スマートな検索
*/
/* 親要素_背景 */
.bg-gray-beside {
    display: flex;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #ffffff8b;
}

/* 子要素_テキスト */
.box-text{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    font-size: 16px;
}

/* 子要素_PCの画像 */
.pc-employee {
    width: 400px;
    height: 350px;
    background-image: url("../img/top_pc_employee.png");
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    margin-left: 30px;
}

/*
* section_居場所の把握
*/
/* 子要素 */
.pc-seat {
    width: 400px;
    height: 350px;
    background-image: url("../img/top_pc_seat.png");
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    margin-right: 30px;
}

/* 子要素_気づく人の画像 */
.kizuku {
    position: relative;
    width: 150px;
    height: 150px;
    top:0px;
    left: 155px;
    background-image: url("../img/top_kizuku.png");
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
}

/*
* section_さあ、はじめてみましょう
*/
/* 親要素_背景 */
.bg-blue {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, rgba(26, 118, 201, 1), rgba(184, 14, 255, 1));
}

/* 子要素_テキスト */
.text-start {
    width: 100vw;
    height: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
}

/* 子要素_ボタン一式 */
.btn--start,
a.btn--start {
  color: #fff;
  background-color:rgb(23, 208, 236);
  width: 300px;
  /* height: 500px; */
}

.btn--start:hover,
a.btn--start:hover {
  color: #fff;
  background-color:rgb(23, 208, 236);
  opacity: 0.75;
  width: 302px;
}

a.btn--radius-start {
   border-radius: 15px;
}

/*
* 矢印アイコン
*/
.arrow {
    color: #400DD1;
    font-size: 80px;
    opacity: 0.7;
    margin: 50px 0;
}
